force-app/main/default/flows/Subscription_Renewal_Engine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends a Chatter notification to the Subscription owner if the automatic renewal Opportunity creation fails. Includes the system fault message for troubleshooting.</description>
        <name>Chatter_Error_Opp_Creation_Failure</name>
        <label>Chatter: Error - Opp Creation Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tt_Renewal_Fault_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>This decision, decide, it the preious get records found a similar opportunity like this.</description>
        <name>Does_Open_Opp_Exist</name>
        <label>Does Open Opp Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create New</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Renewal_Opps.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision checks, if the subscription is active in the first place, so we don&apos;t waste resources, on not active subscriptions.</description>
        <name>Is_Subscription_Active</name>
        <label>Is Subscription Active?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Active / Cancelled</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Renewal_Opps</targetReference>
            </connector>
            <label>Yes, Active</label>
        </rules>
    </decisions>
    <description>Automated Subscription Renewal Engine: This scheduled flow runs daily to identify subscriptions with an &apos;Expiring Soon&apos; status (30 days before End Date). It automatically generates a renewal Opportunity linked to the parent Account, enabling the Sales team to proactively manage contract extensions and minimize churn.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;Renewal - &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <description>This formula renew the subscription by 12 months if needed.</description>
        <name>fm_NewEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.End_Date__c},12)</expression>
    </formulas>
    <interviewLabel>Subscription Renewal Engine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Renewal Engine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Chatter_Error_Opp_Creation_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Monthly_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fm_NewEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This checks the allready existing opportunities, to avoid duplications.</description>
        <name>Get_Open_Renewal_Opps</name>
        <label>Get Open Renewal Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Open_Opp_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Subscription_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expiring Soon</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-31</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This is the text for the error message</description>
        <name>tt_Renewal_Fault_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An error occurred while creating the renewal Opportunity. Subscription ID: {!$Record.OwnerId} Error message: {!$Flow.FaultMessage}</text>
    </textTemplates>
</Flow>
